body {
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    background-color: lavender;
    margin: 32px;
    padding: 16px;
    border: 3px solid black;
}

.food {
    font-size: 24px;
}

.image {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 48px;
}